body {
	margin: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #404040;
}

.no-select {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Header */
	#header {
		position: fixed;
		top: 0px;
		padding: 6px 48px;
		width: 100vw;
		height: 44px;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		background-color: #009fff;
		border-bottom: 4px solid #0077bf;
	}

	#logo {
		height: 28px;
	}

	/* Page menu */
		#page-menu {

		}

	/* Account menu */
		#account-menu {
			min-width: 128px;
			height: 28px;
			opacity: 0.8;
			overflow: hidden;
			color: white;
			background-color: #005080;
			border-radius: 4px;
			font-size: 13px;
			text-align: center;
			z-index: 2;
			transition: 0.5s;
		}

		#account-menu:hover {
			opacity: 1;
			transition: 0.5s;
		}

		#account-menu.selected {
			height: 57px;
			opacity: 1;
		}

		.account-menu-button {
			padding: 6px 24px;
			line-height: 16px;
			background-color: #005080;
			cursor: pointer;
			transition: 0.5s;
		}

		#account-menu hr {
			margin: 0px 8px;
			width: calc(100% - 16px);
			height: 1px;
			display: block;
			border: none;
			background-color: #003f66;
		}

		#current-user.admin:hover {
			background-color: #00bda7;
			transition: 0.5s;
		}

		#log-out-button:hover {
			background-color: #bf0000;
			transition: 0.5s;
		}

/* Toolbar */
	#toolbar {
		position: absolute;
		bottom: -34px;
		left: 0px;
		padding: 4px 48px;
		height: 30px;
		width: 100vw;
		box-sizing: border-box;
		background-color: #e0e0e0;
		font-size: 14px;
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
		z-index: 1;
	}

	#toolbar input, #toolbar button {
		height: 100%;
		box-sizing: border-box;
	}

	#toolbar-search-form {
		display: inline;
	}

	#toolbar-search-form input[type="text"] {
		padding: 2px 8px;
		width: 256px;
		color: #606060;
		background: #f8f8f8;
		font-family: inherit;
		border: none;
		border-radius: 4px 0px 0px 4px;
	}

	#toolbar-search-form input[type="text"]:focus {
		background-color: white;
		outline: none;
	}

	#toolbar-search-form button {
		border-radius: 0px 4px 4px 0px;
	}

	#toolbar button {
		padding-left: 14px;
		padding-right: 14px;
		color: white;
		background-color: #009fff;
		cursor: pointer;
		border: none;
	}

	#toolbar button:focus {
		outline: none;
	}

	#toolbar button:active {
		background-color: #008ee6;
	}

	/* Action buttons */
		#action-buttons {
			display: inline;
			margin-left: 24px;
		}

		#action-buttons button {
			font-family: inherit;
			border-radius: 4px;
		}

		#action-buttons button:nth-child(n+2) {
			margin-left: 4px;
		}
		#action-buttons button[disabled] {
			opacity: 0.4;
			cursor: default;
		}

/* Content */
	#content {
		position: relative;
		margin: 100px 48px 0px;
		height: calc(100vh - 150px);
		overflow: hidden;
		font-size: 14px;
	}

	#content .table-header {
		position: absolute;
		top: 0px;
		width: 100%;
		height: 40px;
		display: table;
		box-sizing: border-box;
		background: linear-gradient(white, rgba(255, 255, 255, 0.9));
		font-size: 16px;
		border-bottom: 1px solid rgba(224, 224, 224, 0.9);
	}

	#content .table-header div {
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		box-sizing: border-box;
	}

	#content .table-header div, #content table td {
		padding: 8px;
		white-space: nowrap;
	}

	#content .table-header div:not(.unsortable):hover {
		cursor: pointer;
	}

	#content .table-header div:not(.unsortable)::after {
		content: " \f0d7";
		color: rgba(0, 0, 0, 0);
		font-family: FontAwesome;
	}

	#content .table-header div:hover::after {
		color: rgba(0, 0, 0, 0.2);
	}

	#content .table-header div.sorting-by {
		font-weight: bold;
	}

	#content .table-header div.sorting-by::after {
		color: #404040;
	}

	#content .table-container {
		height: calc(100% - 50px);
		overflow: auto;
	}

	#content table {
		width: 100%;
		border-collapse: collapse;
	}

	#content table tr:first-child {
		height: 40px;
		visibility: hidden;
	}

	#content table tr:nth-child(even) {
		background-color: #f8f8f8;
	}

	#content table td {
		height: 24px;
		color: #808080;
		line-height: 18px;
	}

	#content table td span.colordata {
		padding: 2px 12px;
		display: inline-block;
		color: white;
		background-color: #5e5e5e;
		border-radius: 4px;
		text-align: center;
	}

	#content-loading-overlay {
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		background-color: rgba(255, 255, 255, 0.8);
	}

	/* People */
		#content.people table td span.colordata.role.admin {
			background-color: #00bda7;
		}
