body {
    margin: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #404040;
}

.no-select {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* Header */
	#header {
		position: fixed;
		padding: 6px 48px;
	    width: calc(100vw - 96px);
	    height: 28px;
	    background-color: #3f6323;
	    border-bottom: 4px solid #0077bf;
	}

	/* Page menu */
		#page-menu {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}

	/* Account Menu */
		#account-menu {
			position: relative;
			min-width: 128px;
			height: 28px;
			float: right;
			opacity: 0.8;
			overflow: hidden;
			color: white;
			background-color: #005080;
			border-radius: 4px;
			font-size: 13px;
			text-align: center;
			z-index: 2;
			transition: 0.5s;
		}

		#account-menu:hover {
			opacity: 1;
			transition: 0.5s;
		}

		#account-menu.selected {
			height: 57px;
			opacity: 1;
		}

		.account-menu-button {
			padding: 6px 24px;
			line-height: 16px;
			background-color: #005080;
			cursor: pointer;
			transition: 0.5s;
		}

		#account-menu hr {
			margin: 0px 8px;
			width: calc(100% - 16px);
			height: 1px;
			display: block;
			border: none;
			background-color: #003f66;
		}

		#current-user.admin:hover {
			background-color: #00bda7;
			transition: 0.5s;
		}

		#log-out-button:hover {
			background-color: #bf0000;
			transition: 0.5s;
		}

/* Toolbar */
	#toolbar {
		position: absolute;
		top: 44px;
		left: 0px;
		padding: 4px 48px;
		height: 22px;
		width: calc(100vw - 96px);
		background-color: #e0e0e0;
		font-size: 14px;
		box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
		z-index: 1;
	}

	#toolbar-search-form {
		display: inline-block;
		margin-right: 16px;
	}

	#toolbar-search-form input[type="text"] {
        padding: 2px 8px;
		width: 256px;
		height: 18px;
		color: #606060;
		background: #f8f8f8;
		font-family: inherit;
		border: none;
		border-radius: 4px;
	}

	#toolbar-search-form input[type="text"]:focus {
		background-color: white;
		outline: none;
	}

	#toolbar-search-form button[type="submit"] {
        width: 40px;
		height: 22px;
		color: white;
		background-color: #009fff;
		border: none;
		border-radius: 4px;
	}

	#toolbar-search-form button[type="submit"]:focus {
		outline: none;
	}

	#toolbar-search-form button[type="submit"]:active {
		background-color: #008ee6;
	}

/* Content */
	#content {
		padding: 100px 48px 256px;
		font-size: 14px;
	}

	/* People */
		#people-table {
			width: 100%;
			border-collapse: collapse;
		}

		#people-table thead {
			font-size: 16px;
			border-bottom: 1px solid #e0e0e0;
		}

		#people-table thead td {
			height: 24px;
		}

		#people-table thead td:hover {
			cursor: pointer;
		}

		#people-table thead td::after {
			content: " \f0d7";
			color: rgba(0, 0, 0, 0);
			font-family: FontAwesome;
		}

		#people-table thead td:hover::after {
			color: rgba(0, 0, 0, 0.2);
		}

		#people-table thead td.sorting-by {
			font-weight: bold;
		}

		#people-table thead td.sorting-by::after {
			color: #404040;
		}

		#people-table tr:hover {
			cursor: pointer;
		}

		#people-table tbody td {
			padding-top: 16px;
			color: #808080;
			line-height: 18px;
		}

		#people-table tbody td span.position-text {
			padding: 2px 4px;
			color: white;
			background-color: #5e5e5e;
			border-radius: 4px;
		}

		#people-table tbody td span.position-text.admin {
			background-color: #00bda7;
		}
