body {
    margin: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#header {
	position: fixed;
	padding: 6px 48px;
    width: calc(100vw - 96px);
    height: 28px;
    background-color: #009fff;
    border-bottom: 4px solid #0077bf;
}

.no-select {
	-webkit-user-select: none;
}

#page-menu {
	margin: 0px auto;
	width: 256px;
	color: white;
	font-family: inherit;
	font-size: 18px;
	line-height: 28px;
}

#account-menu {
	min-width: 128px;
	height: 28px;
	float: right;
	opacity: 0.8;
	overflow: hidden;
	color: white;
	background-color: #005080;
	border-radius: 4px;
	font-size: 13px;
	text-align: center;
	transition: 0.5s;
}

#account-menu:hover {
	opacity: 1;
	transition: 0.5s;
}

#account-menu.selected {
	height: 57px;
	opacity: 1;
}

.account-menu-button {
	padding: 6px 24px;
	line-height: 16px;
	background-color: #005080;
	cursor: pointer;
	transition: 0.5s;
}

#account-menu hr {
	all: initial;
	margin: 0px 8px;
	width: calc(100% - 16px);
	height: 1px;
	display: block;
	background-color: #003F66;
}

#current-user.administrator:hover {
	background-color: #00bda7;
	transition: 0.5s;
}

#log-out-button:hover {
	background-color: #bf0000;
	transition: 0.5s;
}
